<ion-header>
  <ion-toolbar>
    <ion-title>Eventos-Responsable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">EVENTOS</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content color="Secundary" >
    Bienvenido @usuario@ estos son sus eventos
  </ion-card-content>
  <div class="botonesEvento">   
    <ion-button class (click)= "nuevoEvento()" color="primary">NUEVO EVENTO</ion-button>
  <div>
    <ion-button class (click)= "previusPage()" color="primary">VOLVER</ion-button>
  </div>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
    Regresar
  </ion-buttons>  
</div>
</ion-card>
