<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-content fullscreen={true} class="ion-padding-start ion-padding-end">

    <br>
    <ion-text color="primary">
      <h1> Estas en smart ticket tu app para compra de voletas.</h1>
    </ion-text>
    <br><br><br>
    <ion-button shape="round" size="large" (click)="Eventospage()" expand="block">Eventos</ion-button>
    <br>
    <ion-button shape="round" size="large" (click)="MisEntradaspage()" expand="block">Mis entradas</ion-button>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <ion-button shape="round" size="large" (click)="logout()" expand="block">Cerrar sesion</ion-button>
    <br>
    <br>
    <br>

  </ion-content>


</ion-content>